AlignTrailingComments            : true
AllowAllParametersOfDeclarationOnNextLine : true
AllowShortBlocksOnASingleLine : false
AllowShortFunctionsOnASingleLine : "None"
AllowShortIfStatementsOnASingleLine : false
AllowShortLoopsOnASingleLine : false
AlwaysBreakBeforeMultilineStrings : true
BasedOnStyle : "Google"
#BinPackParameters : false
BreakBeforeBinaryOperators : false
BreakBeforeBraces : "Custom"
BreakBeforeTernaryOperators : false
ColumnLimit : 120
ContinuationIndentWidth :     4
DerivePointerAlignment : false
DisableFormat : false
IndentCaseLabels : true
IndentWrappedFunctionNames : false
IndentWidth : 4
Language : "Cpp"
MaxEmptyLinesToKeep :         1
PointerBindsToType : false
SpaceBeforeAssignmentOperators : true
SpaceBeforeParens : "ControlStatements"
SpacesBeforeTrailingComments : 1
SpacesInCStyleCastParentheses : false
SpacesInParentheses : false
Standard : "Cpp03"
TabWidth : 1
UseTab : "Never"
AccessModifierOffset : -4
AlignAfterOpenBracket : "Align"
AlignEscapedNewlines : "Left"
AlignOperands : true
AllowShortCaseLabelsOnASingleLine : false
AllowShortFunctionsOnASingleLine : "Inline"
AlwaysBreakAfterReturnType  : "None"
AlwaysBreakTemplateDeclarations : true
BreakBeforeInheritanceComma : false
BreakConstructorInitializers : "BeforeComma"
CompactNamespaces : false
ConstructorInitializerAllOnOneLineOrOnePerLine : false
ConstructorInitializerIndentWidth : 0
Cpp11BracedListStyle : false
FixNamespaceComments : true
NamespaceIndentation : "None"
PointerAlignment : "Right"
SortIncludes : true
SortUsingDeclarations : true
SpacesInAngles : false
SpaceAfterCStyleCast : false
SpaceInEmptyParentheses : false
SpacesInSquareBrackets : false
KeepEmptyLinesAtTheStartOfBlocks: true
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
IncludeCategories:
  - Regex:         '^<' # system includes
    Priority:       10
  - Regex:         '^"erpc_' # erpc public includes
    Priority:      1
