version: 2.1

orbs:
  win: circleci/windows@5.0 # The Windows orb gives you everything you need to start using the

jobs:
  build-linux-gcc:
    machine:
      image: ubuntu-2204:2022.04.2 #https://circleci.com/developer/machine/image/ubuntu-2204 pick LTS
    steps:
      - checkout
      - run: chmod u+x install_dependencies.sh && ./install_dependencies.sh
      - run: chmod u+x run_tests.sh && ./run_tests.sh
      - store_artifacts:
          path: ./Release/Linux/erpcgen/erpcgen
  build-linux-clang:
    machine:
      image: ubuntu-2204:2022.04.2 #https://circleci.com/developer/machine/image/ubuntu-2204 pick LTS
    steps:
      - checkout
      - run: chmod u+x install_dependencies.sh && ./install_dependencies.sh clang
      - run: chmod u+x run_tests.sh && ./run_tests.sh clang
      # - store_artifacts:
      #     path: ./Release/Linux/erpcgen/erpcgen
  build-mac-gcc:
    macos:
      xcode: 12.5.1 # https://circleci.com/docs/using-macos/#supported-xcode-versions https://en.wikipedia.org/wiki/MacOS_version_history#Releases
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - run: chmod u+x install_dependencies.sh && ./install_dependencies.sh
      - run: chmod u+x run_tests.sh && ./run_tests.sh
      - store_artifacts:
          path: ./Release/Darwin/erpcgen/erpcgen
  build-mac-clang:
    macos:
      xcode: 12.5.1 # https://circleci.com/docs/using-macos/#supported-xcode-versions https://en.wikipedia.org/wiki/MacOS_version_history#Releases
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - run: chmod u+x install_dependencies.sh && ./install_dependencies.sh clang
      - run: chmod u+x run_tests.sh && ./run_tests.sh clang
      # - store_artifacts:
      #     path: ./Release/Darwin/erpcgen/erpcgen
  build-windows-mingw:
    executor:
      name: win/default
      size: large
    steps:
      - checkout
      - run: powershell.exe .\install_dependencies.ps1
      - run: powershell.exe .\mingw64\bin\mingw32-make erpcgen
      # - store_artifacts:
      #     path: ./Release/MINGW64/erpcgen/erpcgen.exe
  build-windows-VS:
    executor:
      name: win/default
      size: large
    steps:
      - checkout
      - run:
          name: Install VS buuildtools
          no_output_timeout: 60m
          command: powershell.exe .\install_dependencies.ps1 VS
      - run: powershell.exe  "& 'C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\MSBuild.exe' .\erpcgen\VisualStudio_v14\erpcgen.sln /property:Configuration=Release"
      - store_artifacts:
          path: ./erpcgen/VisualStudio_v14/Release/erpcgen.exe
workflows:
  build-workflow:
    jobs:
      - build-linux-gcc
      - build-linux-clang
      - build-mac-gcc
      - build-mac-clang
      - build-windows-mingw
      - build-windows-VS
