#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS   := $(shell dpkg-buildflags --get CFLAGS)
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS)
# use --as-needed only if supported by dh-autoreconf (to simplify backporting)
export LDFLAGS  := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

#security specific flags
CFLAGS += -fPIC -fcf-protection=full -z noexecstack -fstack-clash-protection
CPPFLAGS += -fPIC -fcf-protection=full -z noexecstack -fstack-clash-protection
CXXFLAGS += -fPIC -fcf-protection=full -z noexecstack -fstack-clash-protection

export V=1
export PYBUILD_NAME=eprc
export PYBUILD_SYSTEM=distutils

CONFIGURE_PREFIX=/usr

override_dh_auto_configure:
	dh_auto_configure -O--buildsystem=pybuild --sourcedirectory=$(CURDIR)/erpc_python

override_dh_auto_test:
	dh_auto_test -- 

override_dh_auto_build:
	dh_auto_build -- -j`nproc --ignore=2`
	dh_auto_build -O--buildsystem=pybuild -O--with=python3 --sourcedirectory=$(CURDIR)/erpc_python

override_dh_auto_install:
	dh_auto_install -- \
		prefix=$(CONFIGURE_PREFIX) \
		includedir=include \
		libdir=lib/$(DEB_HOST_MULTIARCH)
	dh_auto_install -O--buildsystem=pybuild  --sourcedirectory=$(CURDIR)/erpc_python

override_dh_auto_clean:
	dh_auto_clean
	dh_auto_clean -O--buildsystem=pybuild  --sourcedirectory=$(CURDIR)/erpc_python
	$(RM) -fr $(CURDIR)/__pycache__/ \
		$(CURDIR)/python_build/ \
		$(CURDIR)/.pybuild/ \
		$(CURDIR)/Debug/

%:
	dh $@ --parallel --with=python3
