# flex and bison output
erpcgen_lexer.flex.cpp
erpcgen_parser.tab.cpp
erpcgen_parser.tab.hpp

# templates
c_client_source.cpp
c_coders.cpp
c_common_header.cpp
c_server_header.cpp
c_server_source.cpp
c_common_functions.cpp
c_defines.cpp
c_crc.cpp
py_client.cpp
py_coders.cpp
py_common.cpp
py_init.cpp
py_server.cpp
py_interface.cpp
py_global_init.cpp

# win flex-bison files
data
custom_build_rules
FlexLexer.h
UNISTD_ERROR.readme
win_bison.exe
win_flex.exe
README.txt
.vs

#boost libraries
boost_*
